
.category {
    margin-top:1em;
    margin-bottom:0em;
}



/* Small screens, float right */
.right-extending {
    float: right;
    margin-left: 1em;
}
/* Big screens, excessive space on the right */
@media(min-width: 78em) {
    .right-extending {
        float:right;
        position:absolute;
        margin-left:38em;
        width:auto;
    }
}

/* Small screens, inline */
.right-extending-inline {
}
/* Big screens, excessive space on the right */
@media(min-width: 78em) {
    .right-extending-inline {
        float:right;
        position:absolute;
        margin-left:38em;
        width:auto;
        max-width:25em;
    }
}

.highlight pre { 
    white-space: pre; 
    overflow: auto; 
}
@media(min-width: 78em) {
    .highlight pre { 
        white-space: pre; 
        overflow: auto; 
    }
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}

.videoWrapper iframe {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}


.sidebar-site-title {
    width:auto;
}

.brand-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
    vertical-align: bottom;
    position: relative;
}
.brand-icon img {
    vertical-align: bottom;
    position:absolute;
    bottom:0px;
    margin-bottom:0;
}

/*
.right-extending-container {
    float: right;
    margin-left: 1em;
}
.right-extending {
    overflow:hidden;
    margin-bottom: -100%;
    margin-right:-50%;
}
*/