
.category {
  margin-top:1em;
  margin-bottom:0em;
}



/* Small screens, float right */
.right-extending {
  float: right;
  margin-left: 1em;
}
/* Big screens, excessive space on the right */
@media(min-width: 92em) {
  .right-extending {
    float:right;
    position:absolute;
    margin-left:42em;
    width:auto;
  }
}
/* Small screens, float right */
.right-extending-upwards {
  float: right;
  margin-left: 1em;
}
/* Big screens, excessive space on the right */
@media(min-width: 92em) {
  .right-extending-upwards {
    float:right;
    position:absolute;
    margin-left:42em;
    width:auto;
  }
}

/* Small screens, inline */
.right-extending-inline {
}
/* Big screens, excessive space on the right */
@media(min-width: 92em) {
  .right-extending-inline {
    float:right;
    position:absolute;
    margin-left:42em;
    width:auto;
    max-width:25em;
  }
}
.highlight pre { 
  white-space: pre; 
  overflow: auto; 
}
@media(min-width: 78em) {
  .highlight pre { 
    white-space: pre; 
    overflow: auto; 
  }
}

/****************/
/* Inline video */
/****************/
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}


/****************/
/*    Sidebar   */
/****************/
.sidebar-site-title {
  width:auto;
}
.sidebar {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: stretch;
  height:100vh;
}
.sidebar-sticky {
  order: 0
  flex: 01 0 auto;
  align-self: auto;
}
@media(max-width:48rem) {
  .sidebar-about img {
    max-height:45vmin;
    -o-object-fit: contain;
    object-fit: contain;
  }
  
  .sidebar {
    position:fixed;
    width:100vw;
    top:0px;
    left:-100vw;
    z-index:999999;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    font-size:1.25rem;
  }
  .lead {
    font-size:1.25rem;
  }
  
  .sidebar.is-active {
    left:0px;
  }
  .hamburger-container {
    z-index:10000000;
  }
}
@media(min-width:48rem) {
  .hamburger-container {
    display:none;
  }
}

.brand-icon {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}
.brand-icon img {
  opacity:.5;
}


/****************/
/*   Frontpage  */
/****************/
.frontpage-container {
  background-color:#404040;
  padding-top:2vh;
  padding-left:2vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
}
@media(min-width: 48rem) {
  .frontpage-container {
    margin-left:16em;
  }
}
.frontpage-element {
  background-color:black;

  margin-right:2vh;
  margin-bottom:2vh;
  
  flex: 1 1 22em;
  max-width:44em;
  align-self: auto;
  height:90vh;
  
  -margin-left:.5em;
  -margin-right:.5em;

  display: flex;
  justify-content: space-between;
  align-items: flex-endtitle;
}
.frontpage-element-background {
  width:100%;
  height:100%;
  position:relative;
  top:0px;
  left:0px;

  overflow: hidden;
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.frontpage-element-title {
  background-color:rgba(32,32,32,.85);
  left:0px;
  width:100%;
  padding:1em;
  margin:0;

  color: rgba(255,255,255,1);
  font-size: 48px;
  line-height: 64px;
}
.frontpage-element-title p {
  margin-bottom:-.5em;
}
@media(max-width: 48rem) {
  .frontpage-element-title {
    padding:2rem;
    line-height:3rem;
  }
  .frontpage-element-title p {
    font-size:36px;
    margin-bottom:0;
  }
}
.frontpage-element-title a {
  margin:0;
}
.frontpage-element-subtitle {
  color: rgba(128,128,128,.75);
  font-size: 18px;
  line-height: 18px;
}


/****************/
/*   Slideshow  */
/****************/
.slide-container {
  position:relative;
  height:90vmin;
  width:calc(0.5625 * 90vmin);
}
.slide-container:hover .slide-nav {
  display:block;
}
.slide-container:hover .slide-index {
  display:block;
}
.slide {
  max-height:90vh;
}
.slide-index {
  width:5vh;
  position:absolute;
  margin:auto;
  bottom:0px;
  left:0px;
  right:0px;
  
  text-align:center;
  background-color:rgba(128,128,128,.5);
  border:none;
  color:white;
  display:none;
}
.slide-nav {
  height:10%;
  position:absolute;
  top:45%;
  width:10%;
  
  background-color:rgba(128,128,128,.5);
  border:none;
  color:white;
  display:none;
}
.slide-nav-left {
  left:0;
}
.slide-nav-right {
  right:0;
}

/********************/
/*   Inline Images  */
/********************/

.inline-image {
  margin:auto;
  display:block;
  text-align:center;
}
.inline-image a {
  margin:auto;
  display:inline-block;
}
.inline-image img {
  max-height:200pt;
  margin:0;
  display:inline-block;
}

.inline-image-big {
  margin:auto;
  display:block;
  text-align:center;
}
.inline-image-big a {
  margin:auto;
  display:inline-block;
}
.inline-image-big img {
  max-height:400pt;
  margin:0;
  display:inline-block;
}

.invisible-table {
  border:none;
}
.invisible-table img {
  max-height:200pt;
  margin:auto;
}
.invisible-table td {
  border:none;
  background-color:transparent;
}
.invisible-table tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color:transparent;
}
.invisible-table-big img {
  max-height:300pt;
  margin:auto;
}



.content img {
  cursor:pointer;
}


.hamburger .line{
  width: 30px;
  height: 4px;
  background-color: #ecf0f1;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.hamburger-container {
  cursor: pointer;
  position:fixed;
  top:0px;
  right:0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width:4rem;
  height:4rem;
  padding: 1rem 1rem;
  background-color: #20202020;
  text-align: center;
}

#hamburger-x.is-active .line:nth-child(1){
  -webkit-transform: translateY(0px) rotate(0deg);
  -ms-transform: translateY(0px) rotate(0deg);
  -o-transform: translateY(0px) rotate(0deg);
  transform: translateY(0px) rotate(0deg);
}
#hamburger-x.is-active .line:nth-child(2){
  opacity: 1;
}
#hamburger-x.is-active .line:nth-child(3){
  -webkit-transform: translateY(0px) rotate(0deg);
  -ms-transform: translateY(0px) rotate(0deg);
  -o-transform: translateY(0px) rotate(0deg);
  transform: translateY(0px) rotate(0deg);
}

#hamburger-x.is-active .line:nth-child(1){
  -webkit-transform: translateY(12px) rotate(45deg);
  -ms-transform: translateY(12px) rotate(45deg);
  -o-transform: translateY(12px) rotate(45deg);
  transform: translateY(12px) rotate(45deg);
}
#hamburger-x.is-active .line:nth-child(2){
  opacity: 0;
}
#hamburger-x.is-active .line:nth-child(3){
  -webkit-transform: translateY(-12px) rotate(-45deg);
  -ms-transform: translateY(-12px) rotate(-45deg);
  -o-transform: translateY(-12px) rotate(-45deg);
  transform: translateY(-12px) rotate(-45deg);
}














