








.sidebar {
  background-color: #202020;
  color: rgba(255,255,255,.5);
  padding-top:2em;
  padding-left:2em;
  padding-right:2em;
  padding-bottom:2em;
}
@media(min-width: 48em) {
  .sidebar {
    position:fixed;
    width:18em;
    height:100%
  }
}

.sidebar a {
  color: #fff;
}
.sidebar h1 {
  text-align:center;
}



.sidebar-container {
  width:100%;
  height:100%
}



.sidebar-about {
  margin-bottom:2em;
}

.sidebar-about img {
  margin-bottom:1em;
}







